<body>
    <header>
        <div class="navbar">
            <div class="logo">
<<<<<<< HEAD
                <a href="/">
                    <img  class="logo_size" src="<%= './logo.png' %>" alt="Logo" />
                </a>  
                <a class="AI white-color <%= path === '/' ? 'active' : '' %>" href="/">HOME</a>
                <a class="AI white-color <%= path === '/generateImg' ? 'active' : '' %>" href="/generateImg">IMAGINE -
=======
                <a class="AI white-color hover-effect <%= path === '/' ? 'active' : '' %>" href="/">HOME</a>
                <a class="AI white-color hover-effect <%= path === '/generateImg' ? 'active' : '' %>" href="/generateImg">IMAGINE -
>>>>>>> 198b41469b2f9e6bf6b536a744dcb52d7c5b049d
                    AI</a>
                <a class="AI white-color hover-effect <%= path === '/contactUs' ? 'active' : '' %>" href="/aboutUs">ABOUT -
                    US</a>
                <a class="AI white-color hover-effect <%= path === '/contactUs' ? 'active' : '' %>" href="/contactUs">CONTACT -
                    US</a>                    
            </div>
            <div class="nav-links">
                <ul>
                    <li>
                        <a class="AI hover-effect" id="header-btn1" href="https://openai.com/dall-e-2/" target="_blank">DALL.E 2 -
                            OpenAI API</a>
                    </li>
                    <li>
                        <a class="login AI white-color" id="header-btn2" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
