<div class="hamburger" onclick="sidebartoggle()">
    <i class="bi bi-list"></i>
  </div>
  <div class="sidebar">
   <div class="crossicon" onclick="sidebartoggle()">&#10005;</div>
   <div class="content">
    <a class="white-color hover-effect <%= path === '/' ? 'active' : '' %>" href="/">HOME</a>
          <a class="white-color hover-effect <%= path === '/generateImg' ? 'active' : '' %>"
            href="/generateImg">IMAGINE -
            AI</a>
          <a class="white-color hover-effect <%= path === '/aboutUs' ? 'active' : '' %>" href="/aboutUs">ABOUT -
            US</a>
          <a class="white-color hover-effect <%= path === '/contactUs' ? 'active' : '' %>" href="/contactUs">CONTACT -
            US</a>
            <a class="white-color hover-effect <%= path === '/team' ? 'active' : '' %>" href="/team">COMMUNITY</a>
            <a class="hover-effect"  href="https://openai.com/dall-e-2/" target="_blank">DALL.E 2 -
              OpenAI API</a>
              <a class="white-color" id="header-btn2" href="/login">Login</a>
   </div>
  
  </div>


  <style>
.hamburger{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 40px;
    width: 50px;
    display: none;
    z-index: 99;
    }

    .hamburger i{
      padding: 5px 10px;
    background-color: whitesmoke;
     border-radius: 10px;
    }

  @media (max-width:900px){
    .hamburger{
      display: block;
    }

   
  }

  @media (max-width:900px){
    .sidebar{
      display: none;
    }
  }

  .sidebar{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    height: 100%;
    top: 0;
    right: 0;
    transition: all 0.2s ;
    transform: translateX(100%);
    z-index: 999;
  }
  .sidebar .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 50px;
   

  }
  .crossicon{
    position: fixed;
    top: 0px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  .content a:hover{
    color: white;
  }


  </style>

  <script>
    // sidebar script

const hamburgere1=document.querySelector(".hamburger");
  const sidebarE1=document.querySelector(".sidebar");
  function sidebartoggle(){
    // hamburgere1.style.setProperty('display', 'none');
    if(sidebarE1.style.transform==='translateX(100%)'){
      sidebarE1.style.setProperty('transform', 'translateX(0)');
    }
    else{
      sidebarE1.style.setProperty('transform', 'translateX(100%)');
    }
  }

  // function sidbarinvissible(){
  //   // hamburgere1.style.setProperty('display', 'block');
    
  //   sidebarE1.style.setProperty('transform', 'translateX(100%)');

  // }
  </script>
