

<%- include('includes/PRE.ejs') %>

  <%- include('includes/header.ejs') %>
  



    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>

   
    
    <style>
      /* Add your styles here */
      body {
        background-color: #fff;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
      }



    input,
    textarea {
      background-color: #f5f5f5;
      color: #333;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .dark-mode {
      background-color: #121212;
      color: #ffffff;
    }

    .dark-mode input,
    .dark-mode textarea {
      background-color: #555;
      color: #fff;
    }
  </style>
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <%- include('includes/sidebar.ejs') %>
      <div class="about">
        <div class="container">
          <div class="about-text">
            <h1 class="title">Generate New World Parallel Universe Images</h1>
            <p class="about-description" style="text-align:center;">
              Explore our AI, and generate multiverse Images, share it and get a new perspective of the future World.
              Imagine AI generates Images beyond and above the imagination,
            </p>
            <div class="button" style="justify-content:center;">
              <div class="btn-wrapper">
                <a href="/generateImg">
                 
                </a>
              </div>
              <a href="/login">
                
              </a>
            </div>
          </div>
          <div class="about-image">
            <img loading="lazy" class="about-us-logo" src="banner.webp" alt="imagine" />
          </div>
        </div>
      </div>
      <div class="feature">
        <h1 class="headline">Exceptional Advancement of our Images</h1>
        <h2 style="padding: 20px; padding-bottom: 50px;">These Features Make our Images, super advanced with
          exceptional quality</h2>
        <div class="quality">
          <div class="quantity">
            <div class="bg"></div>
            <div class="glass">
              <img loading="lazy" src="conditioning1.webp" alt="icon" />
            </div>
            <h4 class="txt">Conditioning</h4>
          </div>

          <div class="quantity">
            <div class="bg"></div>
            <div class="glass">
              <img loading="lazy" src="style.webp" alt="icon" />
            </div>
            <h4 class="txt">Style Transfer</h4>
          </div>

          <div class="quantity">
            <div class="bg"></div>
            <div class="glass">
              <img loading="lazy" src="generation.webp" alt="icon" />
            </div>
            <h4 class="txt">Controlled Generation</h4>
          </div>
          <div class="quantity">
            <div class="bg"></div>
            <div class="glass">
              <img loading="lazy" src="modal.webp" alt="icon" />
            </div>
            <h4 class="txt">Multi Modal Embedding</h4>
          </div>
        </div>
      </div>
      <div class="distance"></div>

      <div class="about">
        <div class="container1">
          <div class="about-image">
            <img loading="lazy" src="1.webp" alt="imagine" />
          </div>
          <div class="about-text">
            <h1 class="title">Words transformed. Imagination unleashed.</h1>
            <p class="about-description">
              Unlock your imagination with our revolutionary text-to-image AI.
              Experience stunning visuals that bring your words to life.
              Our user-friendly solution delivers quality,
              speed, and limitless creativity
            </p>
            <a href="https://openai.com/dall-e-2/">
             
            </a>
          </div>
        </div>
      </div>
      <style>
        /* styles.css */
        iframe {
    display: block;
    margin: 0 auto; /* Center the iframe horizontally */
    width: 100%; /* Make the iframe cover the full width */
    height: 65rem; /* Make the iframe cover the full viewport height */
    border: none; /* Remove iframe border */
}
        .iframe-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden; /* Hide overflow from iframe */
        }



        </style>
 <div class="iframe-container">
  <iframe src="/slider" frameborder="0"  allowtransparency="true"></iframe>
</div>


      <%- include('includes/footer.ejs') %>
 
      

      <%- include('includes/topToBottomScrollButton.ejs') %>
        <style>
          /* Light mode styles */
          .light-mode {}

          /* Dark mode styles */
          .dark-mode {
            background-color: #121212;
            color: #ffffff;
          }

          /* Dark mode styles for navbar */
          .dark-mode #navbar {
            background-color: #121212;
            color: #ffffff;
          }

          /* Dark mode styles for the about section */
          .dark-mode .about {
            background-color: #121212;
            color: #ffffff;
          }

          /* Styles for the dark mode toggle button */
          .dark-mode-toggle {
            font-size: 24px;
            cursor: pointer;
          }

          .dark-mode-toggle i {
            transition: transform 0.3s ease-in-out;
            font-size: 1.1em;
          }
        </style>

        <script>
    function toggleDarkMode() {
      const body = document.body;
      const navbar = document.querySelector(".navbar");
      const aboutSection = document.querySelector(".about");
      const darkModeToggle = document.querySelector(".dark-mode-toggle");

      const darkModeIcon = document.getElementsByClassName("dark-mode-icon");
      var darkModeIconCollection = Array.from(darkModeIcon);

      body.classList.toggle("dark-mode");
      navbar.classList.toggle("dark-mode");
      aboutSection.classList.toggle("dark-mode");
      // darkModeToggle.classList.toggle("dark");

      darkModeIconCollection.map((darkIcon) => {
        if (darkIcon.innerHTML === '<i class="fa-solid fa-moon" aria-hidden="true"></i>') {
          darkIcon.innerHTML = '<i class="fa-solid fa-sun"></i>';
        } else {
          darkIcon.innerHTML = '<i class="fa-solid fa-moon"></i>';
        }
      });
    }
        </script>

<script>
  window.embeddedChatbotConfig = {
  chatbotId: "fZnpFqGqi_Ol7GFejzNXo",
  domain: "www.chatbase.co"
  }
  </script>
  <script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="fZnpFqGqi_Ol7GFejzNXo"
  domain="www.chatbase.co"
  defer>
  </script>
