<%- include('includes/header.ejs') %>
  <%- include('includes/sidebar.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/MotionPathPlugin.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Judson', serif;
            background: linear-gradient(to bottom,
                rgba(99, 167, 191, 1),
                rgba(94, 86, 179, 1),
                rgba(72, 139, 163, 1),
                rgba(79, 124, 179, 1),
                rgba(52, 115, 140, 1),
                rgba(48, 92, 145, 1),
                rgba(39, 82, 145, 1),
                rgba(19, 58, 110, 1),
                rgba(10, 50, 80, 1),
                rgba(40, 41, 100, 1),
                rgba(14, 52, 94, 1),
                black);
            max-width: 100vw;
            min-height: 100vh;
            overflow-x: hidden;
            color: white;
            position: relative;
            margin: 0;
        }




    
    </style>
</head>
<body>
  <%- include('includes/navbar.ejs') %>

   
    <div class="fish-wrapper">
        <div class="fish">
            <div class="fish__skeleton"></div>
            <div class="fish__inner">
                <!--body-->
                <div class="fish__body"></div>
                <div class="fish__body"></div>
                <div class="fish__body"></div>
                <div class="fish__body"></div>
                <!--head-->
                <div class="fish__head"></div>
                <div class="fish_head fish_head--2"></div>
                <div class="fish_head fish_head--3"></div>
                <div class="fish_head fish_head--4"></div>
                <div class="fish__tail-main"></div>
                <div class="fish__tail-fork"></div>
                <div class="fish__fin"></div>
                <div class="fish_fin fish_fin--2"></div>
            </div>
        </div>
    </div>
    <div class="bubbles">
        <div class="bubbles__inner">
            <div class="bubbles__bubble"></div>
            <div class="bubbles__bubble"></div>
            <div class="bubbles__bubble"></div>
        </div>
    </div>
    <div class="rays"><div data-rays></div></div>
    <div class="lights">
        <div class="lights__group" data-lights="1">
            <div class="lights__light"></div>
            <div class="lights__light"></div>
            <div class="lights__light"></div>
            <div class="lights__light"></div>
            <div class="lights__light"></div>
            <div class="lights__light"></div>
            <div class="lights__light"></div>
            <div class="lights__light"></div>
        </div>
    </div>
    <div class="content">
        <section>
            <div class="section__content">
                <p>Generate New World Parallel Universe Images with Imagine AI</p>
               
            </div>
        </section>
        <section>
            <div class="section__content">
                <p>Explore our AI, and generate multiverse Images, share it and get a new perspective of the future World. Imagine AI generates Images beyond and above the imagination</p>
            </div>
        </section>
        <section>
            <div class="section__content">
                <p>Let's take you to the world of Imagine AI...</p>
            </div>
        </section>
        
    </div>
   

    <script>
        gsap.registerPlugin(ScrollTrigger)
gsap.registerPlugin(MotionPathPlugin)

const rx = window.innerWidth < 1000 ? window.innerWidth / 1200 : 1
const ry = window.innerHeight < 700 ? window.innerHeight / 1200 : 1

const path = [
			// 1
			{ x: 800, y: 200 },
			{ x: 900, y: 20 },
			{ x: 1100, y: 100 },
			// 2
			{ x: 1000, y: 200 },
			{ x: 900, y: 20 },
			{ x: 10, y: 500 },
			// 3
			{ x: 100, y: 300 },
			{ x: 500, y: 400 },
			{ x: 1000, y: 200 },
			// 4
			{ x: 1100, y: 300 },
			{ x: 400, y: 400 },
			{ x: 200, y: 250 },
			// 5
			{ x: 100, y: 300 },
			{ x: 500, y: 450 },
			{ x: 1100, y: 500 }
		]

const scaledPath = path.map(({ x, y }) => {
	return {
		x: x * rx,
		y: y * ry
	}
})

const sections = [...document.querySelectorAll('section')]
const fish = document.querySelector('.fish')
const fishHeadAndBody = 
			[
				...document.querySelectorAll('.fish__head'),
				...document.querySelectorAll('.fish__body')
			]
const lights = [...document.querySelectorAll('[data-lights]')]
const rays = document.querySelector('[data-rays]')

const bubbles = gsap.timeline()
bubbles.set('.bubbles__bubble', {
	y: 100,
})
bubbles.to('.bubbles__bubble', {
	scale: 1.2,
	y: -300,
	opacity: 1,
	duration: 2,
	stagger: 0.2,
})
bubbles.to('.bubbles__bubble', {
	scale: 1,
	opacity: 0,
	duration: 1,
}, '-=1')

bubbles.pause()

const tl = gsap.timeline({
	scrollTrigger: {
		scrub: 1.5,
	},
})
tl.to(fish, {
	motionPath: {
		path: scaledPath,
		align: 'self',
		alignOrigin: [0.5, 0.5],
		autoRotate: true
	},
	duration: 10,
	immediateRender: true,
	// ease: 'power4'
})
tl.to('.indicator', {
	opacity: 0
}, 0)
tl.to(fish, {
	rotateX: 180
}, 1)
tl.to(fish, {
	rotateX: 0
}, 2.5)
tl.to(fish, {
	z: -500,
	duration: 2,
}, 2.5)
tl.to(fish, {
	rotateX: 180
}, 4)
tl.to(fish, {
	rotateX: 0
}, 5.5)
tl.to(fish, {
	z: -50,
	duration: 2,
}, 5)
tl.to(fish, {
	rotate: 0,
	duration: 1,
}, '-=1')
tl.to('.fish__skeleton', {
	opacity: 0.6,
	duration: 0.1,
	repeat: 4
}, '-=3')
tl.to(fishHeadAndBody, {
	opacity: 0,
	duration: 0.1,
	repeat: 4
}, '-=3')
tl.to('.fish__inner', {
	opacity: 0.1,
	duration: 1
}, '-=1')
tl.to('.fish__skeleton', {
	opacity: 0.1,
	duration: 1
}, '-=1')

bubbles.play()
tl.pause()

const lightsTl = gsap.timeline({
	scrollTrigger: {
		scrub: 6
	}
})
lightsTl.from(lights[0], {
	x: window.innerWidth * -1,
	y: window.innerHeight,
	ease: 'power4.out',
	duration: 80
}, 0)
lightsTl.to(lights[0], {
	x: window.innerWidth,
	y: window.innerHeight * -1,
	ease: 'power4.out',
	duration: 80
}, '-=5')

const makeBubbles = (p, i) => {
	const { top, left } = fish.getBoundingClientRect()
	gsap.to(p, { opacity: 1, duration: 1 })
	gsap.set('.bubbles', {
		x: left,
		y: top
	})
	if (bubbles.paused) {
		bubbles.restart()
	}
	if (i > 6) {
		gsap.to('.bubbles', {
			opacity: 0
		})
	}
}

const rotateFish = (self) => {
	if (self.direction === -1) {
		gsap.to(fish, { rotationY: 180, duration: 0.4 })
	} else {
		gsap.to(fish, { rotationY: 0, duration: 0.4 })
	}
}

const hideText = (p) => {
	gsap.to(p, { opacity: 0, duration: 1 })
}

sections.forEach((section, i) => {
	const p = section.querySelector('p')
	gsap.to(p, { opacity: 0 })
	
	ScrollTrigger.create({
		trigger: section,
		start: "top top",
		onEnter: () => makeBubbles(p, i),
		onEnterBack: () => {
			if (i <= 6) {
				gsap.to('.bubbles', {
					opacity: 1
				})
			}
		},
		onLeave: () => {
			hideText(p)
			if (i == 0) {
			gsap.to('.rays', {
				opacity: 0,
				y: -500,
				duration: 8,
				ease: 'power4.in'
			})
			}
		},
		onLeaveBack: () => hideText(p),
		onUpdate: (self) => rotateFish(self)
	})
})

    </script>
        

</body>
</html>
<%- include('includes/feature.ejs')%>
<%- include('includes/footer2.ejs')%>