<%- include('includes/header.ejs') %>
  <%- include('includes/sidebar.ejs') %>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    <style>
      /* Add your styles here */
      body {
        background-color: #fff;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      input,
      textarea {
        background-color: #f5f5f5;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .dark-mode {
        background-color: #121212;
        color: #ffffff;
      }

      .dark-mode input,
      .dark-mode textarea {
        background-color: #555;
        color: #fff;
      }

      .feedback {
        height: 150px;
        width: 500px;
      }

      .contactError {
        color: aqua;
        font-size: 14px;
      }
    </style>
    </head>
    <%- include('includes/navbar.ejs') %>
      <main class="contact">
        <section class="Contact-Us">
          <div class="contact-top" id="slide">
            <h1>Contact Us</h1>
            <h3>Let's Get in Touch to solve your Queries</h3>
            <p class="contact-top-text">
              The IMAGINE - AI, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of
              limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js
              and Express that uses OpenAI's Dall-E models to generate images.
            </p>
            <div class="contact-middle" id="slide">
              <div class="content-top">
                <div class="image-section">
                  <img loading="lazy" src="contactus.webp" alt="contact-us" style="width:500px;">
                </div>
                <div class="contact-box">
                  <div class="context" id="slide">
                    <div class="cards">
                      <a href="">
                        <img loading="lazy" class="contact-svg"
                          src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg">
                      </a>
                      <p class="contact-text" id="slide">
                        +91 9304******
                      </p>
                    </div>
                  </div>
                  <div class="context" id="slide">
                    <div class="cards">
                      <a href="">
                        <img loading="lazy" class="contact-svg"
                          src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg">
                      </a>
                      <p class="contact-text" id="slide">
                        abcxyz@gmail.com
                      </p>
                    </div>
                  </div>
                  <div class="context" id="slide">
                    <div class="cards">
                      <a href="">
                        <img loading="lazy" class="contact-svg"
                          src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET23.jpg">
                      </a>
                      <p class="contact-text" id="slide">
                        State, India
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2"
                style="display: flex;">
                <form class="form-box" id="contactform" method="post">
                  <div class="container-block form-wrapper" style="padding-bottom:40px;">
                    <div class="responsive-container-block">
                      <div class="wrapping">
                        <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 " id="i10mt-6">
                          <p class="text-blk input-title">
                            FIRST NAME
                          </p>
                          <input style="width: 95%;" class="input" id="ijowk-6" name="FirstName" placeholder="john"
                            type="text" pattern="[A-Za-z]{3,}" onkeyup="handleChange(event)" required>
                          <p class="hidden contactError" id="FirstNameError">
                            First Name must be atleast 3 characters long.
                          </p>
                        </div>
                        <div class="responsive-cell-block  wk-ipadp-6 wk-tab-12 wk-mobile-12">
                          <p class="text-blk input-title">
                            LAST NAME
                          </p>
                          <input class="input" id="indfi-4" name="LastName" placeholder="Moshe" type="text"
                            pattern="[A-Za-z]{3,}" required onkeyup="handleChange(event)">
                          <p class="hidden contactError" id="LastNameError">
                            Last Name must be atleast 3 characters long.
                          </p>
                        </div>
                      </div>
                      <div class="responsive-cell-block  wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <p class="text-blk input-title">
                          EMAIL
                        </p>
                        <input class="input" id="ipmgh-6" name="email" placeholder="johnMosh2@gmail.com" type="text"
                          onkeyup="handleChange(event)" required>
                        <p class="hidden contactError" id="emailError">
                          Please enter Valid Email.
                        </p>
                      </div>
                      <div class="responsive-cell-block  wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <p class="text-blk input-title">
                          PHONE NUMBER
                        </p>
                        <input class="input" id="imgis-5" name="PhoneNumber" placeholder="+91 9304******" type="text"
                          onkeyup="handleChange(event)" required>
                        <p class="hidden contactError" id="PhoneNumberError">
                          Please enter Valid Phone Number.
                        </p>
                      </div>
                      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-6">
                        <p class="text-blk input-title" style="padding-bottom: 10px;">
                          Give your Valuable Feedback
                        </p>
                        <input class="textinput feedback" id="i5vyy-6" type="text"
                          placeholder="You can contact us here..." name="feedback" onkeyup="handleChange(event)"
                          required>
                        <p class="hidden contactError" id="feedbackError">
                          Describe your message within 10 to 50 words.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="btn-wrapper" style="display: contents;">
                    <button class="btn" aria-label="submit">
                      <span class="btn-pos Span">Submit</span>
                      <div class="flow"></div>
                    </button>
                  </div>
              </div>
              </form>
            </div>
          </div>

          <%- include('includes/footer.ejs') %>
          <%- include('includes/topToBottomScrollButton.ejs') %>
            <!-- Over riding footer style -->
            <style>
              footer {
                z-index: -1;
              }

              /* Light mode styles */
              .light-mode {}

              /* Dark mode styles */
              .dark-mode {
                background-color: #121212;
                color: #ffffff;
              }

              /* Dark mode styles for navbar */
              .dark-mode #navbar {
                background-color: #121212;
                color: #ffffff;
              }

               /* Styles for the dark mode toggle button */
              .dark-mode-toggle {
                font-size: 24px;
                cursor: pointer;
              }

              .dark-mode-toggle i {
                transition: transform 0.3s ease-in-out;
                font-size: 1.1em;
              }
            </style>
            <script>
              function toggleDarkMode() {
                const body = document.body;
                const navbar = document.querySelector(".navbar");
                const contactSection = document.querySelector(".contact");
                const darkModeToggle = document.querySelector(".dark-mode-toggle");

                const darkModeIcon = document.getElementsByClassName("dark-mode-icon");
                var darkModeIconCollection = Array.from(darkModeIcon);

                body.classList.toggle("dark-mode");
                navbar.classList.toggle("dark-mode");
                contactSection.classList.toggle("dark-mode");
                // darkModeToggle.classList.toggle("dark");

                darkModeIconCollection.map((darkIcon) => {
                  if (darkIcon.innerHTML === '<i class="fa-solid fa-moon"></i>') {
                    darkIcon.innerHTML = '<i class="fa-sharp fa-solid fa-sun"></i>';
                  } else {
                    darkIcon.innerHTML = '<i class="fa-solid fa-moon"></i>';
                  }
                });
              }
            </script>