<%- include('includes/header.ejs') %>
  <%- include('includes/PRE.ejs') %>
    <%- include('includes/sidebar.ejs') %>
      </head>
      <%- include('includes/navbar.ejs') %>
        <main>
          <section class="about">
            <div class="dashboard">
              <div class="left">
                <h1 class="dashboard-h1">Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images
                </h1>
                <div class="main-content-wrapper">
                  <div class="main-content">
                    <h2>
                      <b>The IMAGINE - AI</b>, which is built using the OpenAI API library DALL-E 2, aims to solve the
                      problem of limited creativity and imagination. This is a fully mobile responsive image generator
                      built with Node.js and Express that uses OpenAI's Dall-E models to generate images.
                    </h2>

                    <br>

                    <h2><b>The IMAGINE - AI</b> offers a solution to this problem by providing users with a powerful AI
                      tool that can generate original and visually stunning images. With just a few prompts or keywords,
                      the AI is able to generate a wide range of images that are unlike anything that has been seen
                      before.</h2>
                  </div>
                </div>

                <a class="try-it-cover" href="/generateImg">
                  <button class="btn" aria-label="try it">
                    <span id="try-btn">Try it</span>
                    <div class="flow"></div>
                  </button>
                </a>
              </div>
              <div class="right">
                <img loading="lazy" src="hero.svg" class="home-logo" alt="">
              </div>
            </div>

            <div class="di">
              <h1>Some examples of images generated through DALL-E2</h1>
              <div class="wrapper">
                <div class="cardEx float-in">
                  <img loading="lazy" src="1.webp" alt="Photograph of astronaut riding horse">
                  <div class="info">
                    <h1>Horse</h1>
                    <p>Photograph of an astronaut riding a horse.</p>
                  </div>
                </div>
                <div class="cardEx float-in">
                  <img loading="lazy" src="2.webp" alt="oil painting of capybara wearing crown">
                  <div class="info">
                    <h1>Capybara</h1>
                    <p>An oil painting of a capybara wearing a crown.</p>
                  </div>
                </div>
                <div class="cardEx float-in">
                  <img loading="lazy" src="3.webp" alt="Synthwave sports car">
                  <div class="info">
                    <h1>Sports Car</h1>
                    <p>Synthwave sports car on a port road.</p>
                  </div>
                </div>
                <div class="cardEx float-in">
                  <img loading="lazy" src="4.webp" alt="astronaut lounging in a resort">
                  <div class="info">
                    <h1>Astronaut</h1>
                    <p>An astronaut lounging in a resort in space, vaporwave.</p>
                  </div>
                </div>
              </div>
            </div>

            <section id="newsletter">
              <div class="news-text">
                <h4 style="margin-bottom: 1rem;
                            font-size: 1.875rem;
                            line-height: 2.25rem;
                            font-weight: 800;
                            letter-spacing: -0.025em;
                            color: #ffffff; ">
                  Sign Up for Newsletter
                </h4>
                <p style="margin-bottom: 2rem;
                            max-width: 42rem;
                            font-weight: 300;
                            color: #ffffff;
                            
                            @media (min-width: 640px) {
                              font-size: 1.25rem;
                              line-height: 1.75rem;
                            }
                            @media (min-width: 768px) {
                              margin-bottom: 3rem;
                            }">
                  Get e-mail updates about the latest trends in technology
                </p>
              </div>
              <div class="news-form">
                <form action="https://getform.io/f/94db7290-a297-4170-b95f-a99d55172aa8" method="POST">
                  <input type="email" name="email" id="email" placeholder="Enter your Email Id.." style="display: block;
                            padding: 0.75rem;
                            padding-left: 2.5rem;
                            border-radius: 0.5rem;
                            border-width: 1px;
                            border-color: #D1D5DB;
                            width: 100%;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            color: #111827;
                            background-color: #F9FAFB;
                            
                            @media (min-width: 640px) {
                              border-radius: 0;
                              border-top-left-radius: 0.5rem;
                              border-bottom-left-radius: 0.5rem;
                            }">
                  <button id="btn-new" style="padding-top: 0.625rem;
                                              width: 10rem;
                            padding-bottom: 0.625rem;
                            padding-left: 0.875rem;
                            padding-right: 0.875rem;
                            border-radius: 0.375rem;
                            margin-left: 2rem;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            font-weight: 600;
                            color: #ffffff;
                            transform: scale(0.9);
                            background-color: #6366F1;
                            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">Sign Up</button>
                </form>
              </div>
            </section>
            
            
          </section>
        </main>



        <%- include('includes/footer.ejs') %>
          <%- include('includes/topToBottomScrollButton.ejs') %>

            <style>
              @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

              .left .dashboard-h1, .main-content b {
                font-family: 'Poppins', sans-serif;
                text-align: start;
                letter-spacing: 1.5px;
              }

              .main-content {
                font-family: cursive, sans-serif;
                text-align: center;
              }

              /* Light mode styles */
              .light-mode {}

              /* Dark mode styles */
              .dark-mode {
                background-color: #121212;
                color: #ffffff;
              }

              /* Dark mode styles for navbar */
              .dark-mode #navbar {
                background-color: #121212;
                color: #ffffff;
              }

              /* Dark mode styles for the about section */
              .dark-mode .about {
                background-color: #121212;
                color: #ffffff;
              }

              /* Styles for the dark mode toggle button */
              .dark-mode-toggle {
                font-size: 24px;
                cursor: pointer;
              }

              .dark-mode-toggle i {
                transition: transform 0.3s ease-in-out;
                font-size: 1.1em;
              }

              #email::placeholder {
                color: #041e42;
              }
            </style>

            <script>
         function toggleDarkMode() {
      const body = document.body;
      const navbar = document.querySelector(".navbar");
      const aboutSection = document.querySelector(".about");
      const darkModeToggle = document.querySelector(".dark-mode-toggle");

      const darkModeIcon = document.getElementsByClassName("dark-mode-icon");
      var darkModeIconCollection = Array.from(darkModeIcon);

      body.classList.toggle("dark-mode");
      navbar.classList.toggle("dark-mode");
      aboutSection.classList.toggle("dark-mode");
      // darkModeToggle.classList.toggle("dark");

      darkModeIconCollection.map((darkIcon) => {
        if (darkIcon.innerHTML === '<i class="fa-solid fa-moon"></i>') {
          darkIcon.innerHTML = '<i class="fa-sharp fa-solid fa-sun"></i>';
        } else {
          darkIcon.innerHTML = '<i class="fa-solid fa-moon"></i>';
        }
      });
    }




            </script>
