<%- include('includes/PRE.ejs') %>
  <%- include('includes/header.ejs') %>
    </head>
    <%- include('includes/navbar.ejs') %>
      <%- include('alan.ejs') %>
        <main class="imagineAI">
          <section class="showcase" id="showcase">
            <form id="image-form">
              <h1 class="AI" style="margin-top: 8px;">IMAGE DESCRIPTION</h1>
              <div class="form-control">
                <input type="text" id="prompt" placeholder="Enter Text or speak in assistant" />
              </div>

              <!-- Input User API -->

              <div class="get-api-text">
                <p>
                  You can get your API key from:
                  <a target="_blank" href="https://platform.openai.com/account/api-keys">Open AI API key</a>
                </p>
              </div>

              <div class="form-control">
                <input id="api-key" type="text" id="api-key" placeholder="Enter your API key" />
              </div>
              <div class="form-control">
                <select name="size" id="size">
                  <option value="small">Small</option>
                  <option value="medium" selected>Medium</option>
                  <option value="large">Large</option>
                </select>
              </div>
              <div class="form-control">
                <select name="num-images" id="num-images">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>

                </select>
              </div>
              <div class="formBtns">
                <button type="submit" id="submit" class="btn" aria-label="generate">
                  <span>Generate</span>
                  <div class="flow"></div>
                </button>
                <button type="button" class="btn" id="surpriseMeBtn" aria-label="surprise me">
                  <span>Surprise Me!</span>
                  <div class="flow"></div>
                </button>
              </div>
            </form>
          </section>
          <section class="image">
            <div id="image-container" class="grid grid-cols-2 md:grid-cols-3 gap-4 gap-y-8">
          
            </div>
            <button class="twitter-share-button" style="display:hidden;">
              <i class="fa-solid fa-share fa-bounce" style="color: #e11919;"></i>Share
            </button>
          </section>
          <section style="padding: 16rem 0; margin-top: -10rem;">
            <h3 style="text-align:center; padding-top: 1rem ; font-size: xx-large;color:white;">Frequently Asked
              Questions</h3>
            <h3 style="text-align:center; padding-bottom: 2rem ;font-weight: 300; color:white;">Learn More About
              Imagine-AI and Get Started Today!</h3>
            <div id="faqContainer"></div>
            
<%- include('includes/sidebar.ejs') %>
<%- include('includes/header.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<%- include('alan.ejs') %>

          <script>
            // Faq Genrated using JS logic
                 const faqContent = [
                    {
                      question: "What is Imagine-AI",
                      answer: ` Imagine-ai is startup that uses AI, including DALL·E2, to convert text into stunning images. We
                    empower users to effortlessly transform their ideas into visually captivating content,
                    revolutionizing communication and storytelling. With Imagine-AI, bridge the gap between text and
                    visuals with our cutting-edge AI technology.`
                    },
                    {
                      question: "What does DALL-E 2 Open AI refer to",
                      answer: ` DALL·E 2 is OpenAI's advanced AI model that generates high-quality images from textual descriptions,
                    surpassing the capabilities of its predecessor, DALL·E. It utilizes deep learning techniques to push
                    the boundaries of AI-generated imagery.`

                    },
                    {
                      question: "How to obtain your API Key to genertae Image",
                      answer: ` To get your DALL-E 2 API key, follow these steps :<br>
                    (1) Go to the OpenAI website and sign up for an account. <br>
                    (2) Once you have signed up, navigate to your account settings by clicking on your account name and
                    selecting "API Keys" from the drop-down menu.<br>
                    (3) On the "API Keys" page, you will find your API key. Copy and save it for future use.<br>
                    (4) It is recommended to save your API key as an environment variable or in a secure location `
                    },
                    {
                      question: "How to generate Images using Imagine-AI",
                      answer: ` To Generate Images using Imagine-AI, follow these steps :<br>
                    (1) Go To Imagine-AI Page.<br>
                    (2) Enter the Text, corresponding to the Image.<br>
                    (3) Enter your API Key.<br>
                    (4) Select the size of the Image you want, and click on Generate.
                    (4) Click on Generate.`
                    },
                    {
                      question: "What is the Suprise Me Button for",
                      answer: "Suprise Me! , an option which generates text for you and after you've entered your API Key and size, amazing visuals are seen, Try it to unlock the suprise there for you."
                    }
                  ]
                const faqContainer = document.getElementById("faqContainer");
              let html = "";
              faqContent.forEach((faq)=>{
                html += `<div class="container2">
              <div class="accordion">
                <div class="accordion-item">${faq.question}</div>
                <div class="answer">
                  <p>
                    ${faq.answer}
                  </p>
                </div>
              </div>
            </div>`
              })
              faqContainer.innerHTML =  html;
            const container2 = document.getElementsByClassName('accordion');
            for (i = 0; i < container2.length; i++) {
              container2[i].addEventListener('click', function () {
                this.classList.toggle('active')
              })
            }
          </script>
        <div class="spinner"></div>
        <%- include('includes/footer.ejs') %>
        <%- include('includes/topToBottomScrollButton.ejs') %>
          <!-- Over riding footer style -->
          <style>
            footer {
              z-index: 999;
            }

            /* Dark mode styles */
            .dark-mode {
              background-color: #121212;
              color: #ffffff;
            }

            /* Dark mode styles for navbar */
            .dark-mode #navbar {
              background-color: #121212;
              color: #ffffff;
            }

            /* Styles for the dark mode toggle button */
            .dark-mode-toggle {
              font-size: 24px;
              cursor: pointer;
            }

            .dark-mode-toggle i {
              transition: transform 0.3s ease-in-out;
              font-size: 1.1em;
            }
          </style>

          <script>
            function toggleDarkMode() {
              const body = document.body;
              const navbar = document.querySelector(".navbar");
              const ImagineSection = document.querySelector(".imagineAI");
              const darkModeToggle = document.querySelector(".dark-mode-toggle");

              const darkModeIcon = document.getElementsByClassName("dark-mode-icon");
              var darkModeIconCollection = Array.from(darkModeIcon);

              body.classList.toggle("dark-mode");
              navbar.classList.toggle("dark-mode");
              ImagineSection.classList.toggle("dark-mode");
              // darkModeToggle.classList.toggle("dark");

              darkModeIconCollection.map((darkIcon) => {
                if (darkIcon.innerHTML === '<i class="fa-solid fa-moon"></i>') {
                  darkIcon.innerHTML = '<i class="fa-sharp fa-solid fa-sun"></i>';
                } else {
                  darkIcon.innerHTML = '<i class="fa-solid fa-moon"></i>';
                }
              });
            }
          </script>
<script>
  window.embeddedChatbotConfig = {
  chatbotId: "fZnpFqGqi_Ol7GFejzNXo",
  domain: "www.chatbase.co"
  }
  </script>
  <script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="fZnpFqGqi_Ol7GFejzNXo"
  domain="www.chatbase.co"
  defer>
  </script>