<%- include('includes/PRE.ejs') %> <%- include('includes/header.ejs') %>
    <%- include('includes/sidebar.ejs') %>

      <head>
        <style>
          #captchaicon{
            cursor: pointer;
          }
            .signin-opt-icons a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    width: 14rem;


          .google-icon {
            vertical-align: middle;
            fill: teal;
            display: inline-block;
            transition: all 0.3s ease-in-out;
          }

          .facebook-icon {
            vertical-align: middle;
            fill: teal;
            display: inline-block;
            transition: all 0.3s ease-in-out;
          }
          .twitter-icon {
            vertical-align: middle;
            fill: teal;
            display: inline-block;
            transition: all 0.3s ease-in-out;
          }
          .google-icon:hover {
            fill: white;
            transform: scale3d(1.1, 1.1, 1.1);
          }
          
          .facebook-icon:hover {
            fill: #427bf7;
            transform: scale3d(1.1, 1.1, 1.1);
          }

          .twitter-icon:hover {
            fill: #1da1f2;
            transform: scale3d(1.1, 1.1, 1.1);
          }

          .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
          }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    
    .icon-boundry {
              position: relative;
            }
    
    #eye {
              color: aqua;
              position: absolute;
              top: 10px;
              right: 15px;
              left: auto;
              transform: none;
              cursor: pointer;
            }
  </style>
</head>
<%- include('includes/navbar.ejs') %>
        <section class="showcase" id="showcase">
          <form id="image-form" action="index.html" style="margin-top:50px ;" aria-label="Login Form">
            <h1 class="AI">SIGN IN</h1>
            <div class="form-control">
              <label for="email" style="color: white; margin-left: 20px; margin-bottom: 40px;">Email</label>
              <input type="email" id="email" name="email" placeholder="Enter Email address"
                onkeyup="handleChange(event)" style="color: black;" aria-describedby="emailError"/>
              <p class="error hidden" id="emailError" role="alert">Enter Valid Email</p>
            </div>
            <div class="form-control">
              <label for="password" style="color: white; margin-left: 20px; margin-bottom: 40px;">Password</label>
              <div class="icon-boundry">
                <input type="password" id="password" name="password" placeholder="Enter password"
                onkeyup="handleChange(event)" aria-describedby="passwordError"/>
                <span class="material-symbols-outlined" id="eye" onclick="myFunction()">
                  visibility_off
                </span>
              </div>
              <p class="error hidden" id="passwordError" role="alert">Minimum 8 characters, 1 uppercase, 1 lowercase, 1 symbol
                (@$%#^&*), 1 number (0-9)</p>
            </div>
            <div class="form-control">
              <label for="captcha-input" style="color: white; display: block;">Captcha</label>
              <div id="captchaContainer">
                <div id="captcha"></div>
                <span id="captchaicon" class="material-symbols-outlined" onclick="generateCaptcha()" role="button" aria-label="auto renew captcha">
                  autorenew
                  </span>
                <input type="text" name="captcha" required placeholder="Enter Captcha" id="captcha-input">
              </div>
              <button onclick="checkCaptcha()" id="captchabtn">Verify Captcha</button>
            </div>
    <div class="signin-opt">
      <h2>Sign In using</h2>
      <div class="signin-opt-icons">
        <!-- signin using google -->
        <a href="/auth/google" class="google-button tooltip" aria-label="sign in with google">
          <img
            src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
            
          />
        </a>

        <!-- signin using facebook -->
        <a href="#" class="tooltip" aria-label="sign in with facebook">
          <!-- Please do the OAuth for facebook here, after completion, delete this comment -->
          <img
            src="https://cdn-icons-png.flaticon.com/512/733/733547.png"
            
          />
        </a>

        <!-- signin using twitter -->

        <a href="#" class="tooltip" aria-label="sign in with twitter">
          <!-- Please do the OAuth for twitter here, after completion, delete this comment -->
          <img
            src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png"
            
          />
        </a>
      </div>
    </div>
    <div class="formBtns">

      <button
      id="submit"
        type="submit"
        class="btn sign-in-btn btn-login-submit"
        href="index.html"
        aria-label="submit"
        disabled
      ><span>Submit</span>
                <div class="flow"></div>
              </button>
            </div>
            <div class="get-api-text">
              <p>No account? <a href="/signup" aria-label="go to signup page">Signup</a></p>
            </div>
          </form>
          <div id="successToast" class="toast success-toast" aria-label="success message"></div>
          <div id="errorToast" class="toast error-toast" aria-label="error message"></div>
        </section>
        <%- include('includes/footer.ejs') %>
          <script>
            function myFunction() {
              var x = document.getElementById("password");
              if (x.type === "password") {
                x.type = "text";
                document.getElementById("eye").innerText = "visibility"
              } else {
                x.type = "password";
                document.getElementById("eye").innerText = "visibility_off"
              }
            }

          </script>