<%- include('includes/PRE.ejs') %>
<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
   <section class="privacypolicy">
        <div class="about">
            <h1>Privacy Policy</h1>
        </div>
        <section>
            <b style="
            font-weight: lighter;
        ">Last updated May 25, 2023</b>
            
            <div class="about">
                <div>
                    <p>This privacy notice for <b>Imagine AI</b>(' Company ', 'we', 'us', or 'our' ), describes how and why we might
                        collect, store, use, and/or share ('process' ) your information when you use our services (
                        'Services'),
                   Visit our website or any website of ours that links to this privacy notice.
                   Engage with us in other related ways, including any sales, marketing, or events.
                    
                    </p>
                    <br>
                    <p><b>Questions or concerns?</b><br>Reading this privacy notice will
                        help you understand your privacy rights and choices. If you do not agree with our policies and
                        practices, please do not use
                        our services. If you
                        still have any questions or concerns, please contact us at <a
                            href="mailto:surajpratap20002003@gmail.com">surajpratap20002003@gmail.com</a></p>
    
                </div>
            </div>
        
        </section>
    
        <section>
            <div>
                <br>
                <b>Summary of Key Points</b>
            </div>
            <div>
                <p>This summary provides key points from our privacy notice, but you can find out more details about any of
                    these topics by clicking the link following each key point or by using our 
                        table of contents below to
                    find the section you are looking.</p>
                    <br>
                <ul>
                    <li class="arrow">What personal information do we process?</li> <br>When you visit, use, or
                        navigate our services, we may process personal information depending on how you interact with Imagine AI
                        and the Services, the choices you
                        make, and the products and features you use.
                       
                    <li class="arrow"> Do we process any sensitive personal information?</li><br>We do not process
                        sensitive
                        personal information.
                    <br>
                    <li class="arrow"> Do we receive any information from third parties? </li><br>We do not receive any
                        information
                        from third parties.
                    <li class="arrow">How do we process your information?</li><br>We process your information to
                        provide, improve,
                        and administer our services, communicate with you, for security and fraud prevention, and to comply
                        with law. We may
                        also process your information for other purposes with your consent. We process your information only
                        when
                        we have a valid legal reason to do so. 
                    <li class="arrow">In what situations and with which parties do we share personal
                            information? </li><br>We may
                        share information in specific situations and with specific third parties. 
                    <li class="arrow"> How do we keep your information safe?</li><br>We have organisational and
                        technical processes
                        and procedures in place to protect your personal information. However, no electronic transmission
                        over the internet or
                        information storage technology can be guaranteed to be 100% secure, so we cannot promise or
                        guarantee that hackers,
                        cybercriminals, or other unauthorised third parties will not be able to defeat our security and
                        improperly collect, access, steal, or modify your information.
                    
                    <li class="arrow">What are your rights?</li><br>Depending on where you are located geographically,
                        the
                        applicable privacy law
                        may mean
                        you have certain rights regarding your personal information.
                    
                    <li class="arrow">How do you exercise your rights?</li><br>The easiest way to exercise your rights
                        is by submitting a data subject access request , or by contacting
                        us. We
                        will consider and act upon any request in accordance with
                        applicable data protection laws.
                </ul>
            </div>
        </section>
        <div class="about">
            <h1>Additional</h1>
        </div>
        <section class="privacypolicypoints">
            <div>
                <p class="question">1. What information do we collect?</p>
            </div>
            <div>
                <p>Personal information you disclose to us</p>
                <p>We collect personal information that you voluntarily
                    provide to us
                    when you register
                    on the Services,
                    express an interest in obtaining information about us or our products and Services, when you participate
                    in activities on the Services, or otherwise when you contact us.</p>
                <p>Personal information provided by you:
                    The personal information that we collect depends on the context of your interactions with us and the
                    Services, the choices you make, and the products and features you use. The personal information we
                    collect may include the following:</p>
                <ul class="square">
                    <li class="table-p">Names</li>
                    <li class="table-p">Email adresses</li>
                    <li class="table-p">Mailing addresses</li>
                    <li class="table-p">Usernames</li>
                    <li class="table-p">Passwords</li>
                </ul>
                <p> All personal information that you provide to us must be true, complete, and accurate,
                    and you must notify us of any changes to such personal information.</p>
    
                <p >Information automatically collected</p>
                <p>Some information — such as your Internet Protocol (IP)
                    address and/or
                    browser and device characteristics — is collected automatically when you visit our Services.
                </p>
                <p >We automatically collect certain information when you visit, use, or navigate the
                    Services. This information does not reveal your specific identity (like your name or contact
                    information) but may include device and usage information, such as your IP address, browser and device
                    characteristics, operating system, language preferences, referring URLs, device name, country, location,
                    information about how and when you use our Services, and other technical information. This information
                    is primarily needed to maintain the security and operation of our Services, and for our internal
                    analytics and reporting purposes.</p>
                <p>Like many businesses, we also collect information through cookies and similar
                    technologies. The information we collect includes:</p>
                <ul>
                    <li>Log and Usage Data: Log and usage data is
                        service-related, diagnostic,
                        usage, and
                        performance
                        information our servers automatically collect when you access or use our Services and which we
                        record in log files. Depending on how you interact with us, this log data may include your IP
                        address, device information, browser type, and settings and information about your activity in the
                        Services (such as the date/time stamps associated with your usage, pages and files viewed, searches,
                        and other actions you take such as which features you use), device event information (such as system
                        activity, error reports (sometimes called 'crash dumps'), and hardware settings).</li>
                </ul>
            </div>
        </section>
    
        <section >
            <div >
                <p class="question">2. How do we process your information?</p>
            </div>
            <div>
                <p>We process your information to provide, improve, and
                    administer our Services, communicate with you, for security and fraud prevention, and to comply with
                    law. We may also process your information for other purposes with your consent.</p>
                <p >We process your personal information for a variety of reasons, depending on how you
                    interact with our Services, including:</p>
                <ul class="square">
                    <li >To facilitate account creation and authentication and otherwise manage user
                            accounts. We may process your information so you can create and log in to your account,
                        as well as
                        keep your account in working order.</li>
                    <li>To request feedback. We may process your information when necessary to
                        request
                        feedback and to contact you about your use of our Services.</li>
                    <li >To deliver targeted advertising to you. We may process your information
                        to develop
                        and display personalised content and advertising tailored to your interests, location, and more.
                    </li>
                    <li >To post testimonials. We post testimonials on our Services that may
                        contain personal
                        information.</li>
                    <li>To identify usage trends.We may process information about how you use
                        our Services
                        to better understand how they are being used so we can improve them.</li>
                    <li>To determine the effectiveness of our marketing and promotional
                            campaigns.We may
                        process your information to better understand how to provide marketing and promotional</li>
                </ul>
            </div>
        </section>
    
        <section>
            <div>
                <p class="question">3. When and with whom do we share your personal information?</p>
            </div>
            <div>
                <p>We may share information in specific situations described
                    in this section and/or with the following third parties.</p>
                <p>We may need to share your personal information in the following situations:</p>
                <ul>
                    <li >Bussiness transfers: We may share or transfer your
                        information in
                        connection with, or during negotiations of, any merger, sale of company assets, financing, or
                        acquisition of all or a portion of our business to another company.
                    </li>
                </ul>
            </div>
        </section>
    
        <section>
            <div >
                <p class="question">4. Do we use cookies and other tracking technologies?</p>
            </div>
            <div>
                <p> We may use cookies and other tracking technologies to
                    collect and store your information.</p>
                <p>We may use cookies and similar tracking technologies (like web beacons and pixels) to
                    access or store information. Specific information about how we use such technologies and how you can
                    refuse certain cookies is set out in our Cookie Notice.</p>
            </div>
        </section>
    
        <section>
            <div>
                <p class="question">5. How long do we keep your information?</p>
            </div>
            <div>
                <p>We keep your information for as long as necessary to
                    fulfil the purposes outlined in this privacy notice unless otherwise required by law.</p>
                <p>We will only keep your personal information for as long as it is necessary for the
                    purposes set out in this privacy notice, unless a longer retention period is required or permitted by
                    law (such as tax, accounting, or other legal requirements). No purpose in this notice will require us
                    keeping your personal information for longer than the period of time in which users have an account with
                    us.</p>
                <p>When we have no ongoing legitimate business need to process your personal information, we
                    will either delete or anonymise such information, or, if this is not possible (for example, because your
                    personal information has been stored in backup archives), then we will securely store your personal
                    information and isolate it from any further processing until deletion is possible.
                </p>
            </div>
        </section>
    
        <section>
            <div>
                <p class="question">6. How do we keep your information safe?</p>
            </div>
            <div>
                <p>We aim to protect your personal information through a
                    system of organisational and technical security measures.</p>
                <p>We have implemented appropriate and reasonable technical and organisational security
                    measures designed to protect the security of any personal information we process. However, despite our
                    safeguards and efforts to secure your information, no electronic transmission over the Internet or
                    information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee
                    that hackers, cybercriminals, or other unauthorised third parties will not be able to defeat our
                    security and improperly collect, access, steal, or modify your information. Although we will do our best
                    to protect your personal information, transmission of personal information to and from our Services is
                    at your own risk. You should only access the Services within a secure environment.
                </p>
            </div>
        </section>
    
        <section>
            <div>
                <p class="question">7. What are your Privacy Rights?</p>
            </div>
            <div>
                <p>You may review, change, or terminate your account at any
                    time.</p>
                <p>Withdrawing your consent:If we are relying on
                    your consent to
                    process your personal information, which may be express and/or implied consent depending on the
                    applicable law, you have the right to withdraw your consent at any time. You can withdraw your consent
                    at any time by contacting us by using the contact details provided in the section '<a href="#notice">
                        HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</a>' below. However, please note that this will not affect
                    the lawfulness of the processing before its withdrawal nor, when applicable law allows, will it affect
                    the processing of your personal information conducted in reliance on lawful processing grounds other
                    than consent.</p>
                <p>Opting out of marketing and promotional communications:
                      You can
                    unsubscribe from our marketing and promotional communications at any time by clicking on the unsubscribe
                    link in the emails that we send, or by contacting us using the details provided in the section '
                      
                        HOW CAN YOU CONTACT US ABOUT THIS NOTICE?' below. You will then be removed from the marketing
                    lists. However, we may still communicate with you — for example, to send you service-related messages
                    that are necessary for the administration and use of your account, to respond to service requests, or
                    for other non-marketing purposes.</p>
                <p>Account information</p>
                <p>If you would at any time like to review or change the information in your account or
                    terminate your account, you can:
                    <br>
               
                   Log in to your account settings and update your user account.
                   
                </p>
                <p>Upon your request to terminate your account, we will deactivate or delete your account
                    and information from our active databases. However, we may retain some information in our files to
                    prevent fraud, troubleshoot problems, assist with any investigations, enforce our legal terms and/or
                    comply with applicable legal requirements.</p>
                <p>Cookies and similar technologies:Most Web
                    browsers are set to
                    accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies
                    and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain
                    features or services of our Services. </p>
                <p>If you have questions or comments about your privacy rights, you may email us at <a
                        href="surajpratap20002003@gmail.com">surajpratap20002003@gmail.com</a></p>
            </div>
        </section>
    
        <section>
            <div>
                <p class="question">8. Do we make updates to this notice?</p>
            </div>
            <div>
                <p> Yes, we will update this notice as necessary to stay
                    compliant with relevant laws.</p>
                <p>We may update this privacy notice from time to time. The updated version will be
                    indicated by an updated 'Revised' date and the updated version will be effective as soon as it is
                    accessible. If we make material changes to this privacy notice, we may notify you either by prominently
                    posting a notice of such changes or by directly sending you a notification. We encourage you to review
                    this privacy notice frequently to be informed of how we are protecting your information.
                </p>
            </div>
        </section>
    
        <section>
            <div>
                <p class="question">9. How can you contact about this notice?</p>
            </div>
            <div>
                <p>If you have questions or comments about this notice, you may email us at
                    <a href="mailto:surajpratap20002003@gmail.com">surajpratap20002003@gmail.com</a> or by post to:
                </p>
            </div>
        </section>
    
        <section>
            <div>
                <p class="question">10. How can you review, update or delete the data we collected from you?</p>
            </div>
            <div>
                <p>Based on the applicable laws of your country, you may have the right to request access to
                    the personal information we collect from you, change that information, or delete it. To request to
                    review, update, or delete your personal information, please fill out and submit a
                    <a href="https://app.termly.io/notify/63ae55b1-c45a-461c-ae65-dcc6d1543a55"> data subject access
                        request.</a>
                </p>
            </div>
        </section>

    </section>
    <%- include('includes/footer.ejs') %>
    <%- include('includes/topToBottomScrollButton.ejs') %>
